{% extends 'hospital/adminPharmacy_base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-5">
  <form method="post">
    {% csrf_token %}
    <div class="register-form">
      <div class="form">
        <div class="note">
          <p>Enter Medical Supplies</p>
        </div>
        <div class="form-content">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                {% render_field pharmacyInventoryForm.pharmacyId class="form-control" placeholder="Choose Pharmacy" %}
              </div>
              <div class="form-group">
                {% render_field pharmacyInventoryForm.medicineName class="form-control" placeholder="Medicine Name" %}
              </div>
              <div class="form-group">
                {% render_field pharmacyInventoryForm.description class="form-control" placeholder="Medicine Description" %}
              </div>
              <div class="form-group">
                {% render_field pharmacyInventoryForm.price class="form-control" placeholder="Price" %}
              </div>
              <div class="form-group">
                {% render_field pharmacyInventoryForm.stock class="form-control" placeholder="Stock" %}
              </div>
            </div>
          </div>
          <div class="text-center justify-content-center ">
            <button type="submit" class="btnSubmit btn-info btn-lg btn-block col-md-3 ">Save Medical Supplies</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}
