<!-- admin_pharmacy_dashboard.html -->
{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
          <div class="row ">
            <div class="col-xl d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                      <h6 class="card-title font-weight-bold text-info ">Patient Appointments</h6>

                      <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                             <thead style="background-color: darkblue; color: white;">
                                <tr>
                                  <th>Hospital Name</th>
                                  <th>Doctor Name</th>
                                  <th>Patient Name</th>
                                  <th>Description</th>
                                  <th>Date</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for a in appointments %}
                                      <tr>
                                        <td> {{a.hospitalName}}</td>
                                        <td> {{a.doctorName}}</td>
                                        <td>{{a.patientName}}</td>
                                        <td>{{a.description}}</td>
                                        <td>{{a.appointmentDate}}</td>
                                      </tr>
                                    {% endfor %}                             
                              </tbody>
                            </table>
                          </div>
                          

                      </div>                        
                    </div>
                  </div>
            </div>
          </div>

{% endblock content %}
