{% extends 'hospital/doctor_base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Appointment Details</h4>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6 grid-margin ">
              <div class="form-group">
                {% render_field patientDetailsAdminForm.patientId class="form-control" placeholder="Patient Name" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.appointmentId class="form-control" placeholder="Appointment" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.doctorId class="form-control" placeholder="Doctor Name" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.height class="form-control" placeholder="Height" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.weight class="form-control" placeholder="Weight" %}  
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.temperature class="form-control" placeholder="Temperature" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.allergies class="form-control" placeholder="Allergies" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.medical_history class="form-control" id="exampleTextarea1" rows="11.5" placeholder="Medical History" %}
              </div>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </div>
            <div class="col-md-6 grid-margin ">
              <div class="form-group">
                {% render_field patientDetailsAdminForm.treatment class="form-control"  placeholder="Treatment" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.currentMedication class="form-control" id="exampleTextarea1" rows="4" placeholder="Current Medication" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.currentSymptoms class="form-control" id="exampleTextarea1" rows="4" placeholder="Current Symptoms" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.diagnosis class="form-control" id="exampleTextarea1" rows="4" placeholder="Diagnosis" %}
              </div>
              <div class="form-group">
                {% render_field patientDetailsAdminForm.medicalConcerns class="form-control" id="exampleTextarea1" rows="4" placeholder="Medical Concerns" %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
